* {
	box-sizing: border-box;
}

:root {
	--main-bg-color: #b3dfea;
	--main-area-color: #d1f4fa;
	--main-menuContent-color: #a4abdb;
	--main-menuButton-color: #000000;
	--main-text-color: #000000;
	--main-focus-color: #3fa2e0;
	--main-scroll-color: #8fc3cc;
	--main-hover-color: #2ba4a6;
}

[data-theme="dark"] {
	--main-bg-color: #303030;
	--main-area-color: #2D272D;
	--main-menuContent-color: #696a70;
	--main-menuButton-color: #6A84A1;
	--main-text-color: #cccbca;
	--main-scroll-color: #5e5a4b;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
	font-family: sans-serif;
}

#logo {
	margin-top: 5px;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 800;
	color: var(--main-text-color);
}

button {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--main-menuButton-color);
}

ul {
	padding: 0;
}

ul li {
	list-style: none;
}

.menuItems {
	display: flex;
	width: 100%;
}

.buttons1 {
	width: 15%;
	margin: 0px 30px 0px 30px;
}

.buttons2 {
	width: 20%;
	margin: 0px 30px 0px 30px;
}

.buttons3 {
	width: 65%;
	margin: 0px 30px 0px 30px;
}

.menuItems ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.menuItems ul button {
	margin: 0px 10px 0px 10px;
	padding: 0;
	font-size: 30px;
}

#searchArea {
	background-color: var(--main-area-color);
	font-size: 18px;
	border: none;
	border-radius: 15px;
	outline: none;
	height: auto;
	width: 60%;
	display: flex;
	align-items: center;
}

#searchBtn {
	margin: 0px 4px 0px 10px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 22px;
}

#searchInput {
	display: inline-block;
	width: 80%;
	height: 100%;
	border: none;
	outline: none;
	background-color: var(--main-area-color);
	font-size: 18px;
	color: var(--main-text-color);
}

#searchArea:focus-within {
	border: 2px solid var(--main-focus-color);
}

.menuContents {
	display: flex;
}

.settingContent {
	width: 150px;
	height: 180px;
	border-radius: 15px;
	background-color: var(--main-menuContent-color);
	position: absolute;
	left: 9%;
	text-align: center;
	display: none;
}

.settingContent ul li {
	margin: 5px;
}

.settingContent ul li i {
	font-size: 20px;
	margin: 5px;
}

main {
	display: flex;
	height: 85vh;
}


::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: var(--main-scroll-color);
	border-radius: 15px;
}

#folderArea {
	margin: 30px;
	background-color:var(--main-area-color);
	width: 15%;
	border-radius: 15px;
	overflow-y: auto;
}

#newFolder {
	margin: 15px;
	color: var(--main-text-color);
	height: 5%;
}

#normalFolder {
	margin: 15px;
	color: var(--main-text-color);
}

#folderItems div {
	margin: 15px;
	color: var(--main-text-color);
}

.folderItem {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.folderItem i {
	margin-right: 10px;
}

.folderItem input {
	background-color: var(--main-area-color);
	border: none;
	width: 60%;
	font-size: 15px;
	color: var(--main-text-color);
}

.folderItem input:focus {
	outline: none;
	background-color: var(--main-bg-color);
}

.folderName {
	color: var(--main-text-color);
}

.folderItem .numberOfNotes {
	display: flex;
	font-size: 13px;
	background-color: var(--main-bg-color);
	width: 15%;
	border-radius: 50px;
	justify-content: center;
}

.ctxMenu {
	background-color: var(--main-menuContent-color);
	border-radius: 15px;
	height: 26px;
	width: 70px;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}

.ctxMenu button {
	font-size: 20px;
}


#listArea {
	margin: 30px;
	background-color:var(--main-area-color);
	width: 20%;
	border-radius: 15px;
	color: var(--main-text-color);
	overflow-y: scroll;
}


.listItem {
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
	display: flex;
	cursor: pointer;
	align-items: center;
}

.listItem label {
	cursor: pointer;
}

.listItem .title {
	font-size: 20px;
	font-weight: bold;
}

.listItem .editDate {
	font-size: 15px;
	padding-right: 10px;
}

.hidden{
	visibility: hidden;
}

.title {
	height: 24px;
	overflow: hidden;
}

.textContents {
	height: 20px;
	overflow: hidden;
}

#autoDateTime {
	text-align: center;
	font-size: 16px;
	color: var(--main-text-color);
}

#noteTitle {
	font-size: 30px;
	width: 100%;
	background-color: var(--main-area-color);
	border-style: none;
	border-radius: 15px;
	color: var(--main-text-color);
}

#noteTitle:focus {
	outline: none;
}


#textArea {
	margin: 30px;
	background-color:var(--main-area-color);
	width: 65%;
	border-radius: 15px;
}

#mainNote {
	height: 100%;
	width: 100%;
	font-size: 20px;
	background-color: var(--main-area-color);
	border: none;
	resize: none;
	color: var(--main-text-color);
}

#mainNote:focus {
	outline: none;
}

#submitBtn {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 3%;
	bottom: 8%;
}

#submitBtn i {
	font-size: 30px;
}


footer {
	text-align: center;
	color: var(--main-text-color);
}
